{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["babel-plugin-transform-builtin-extend", {
        globals: ["Error", "Array"]
    }]
  ]
}
